.image-container {
  background-image: url("./assets/salehahmed.jpg");
}

.block-wrapper {
  background-image: url("./assets/block.png");
}

/* PORTFOLIO */
#proteron-digital {
  background-image: url("./assets/projects/proterondigital.png");
}

#team-flow {
  background-image: url("./assets/projects/teamflow.png");
}

#project-drishti {
  background-image: url("./assets/projects/projectdrishti.png");
}

/* TECHNOLOGY STACKS */
.tech-stacks div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#figma {
  background-image: url("./assets/stacks/figma.png");
}

#illustrator {
  background-image: url("./assets/stacks/illustrator.png");
}

#mongoDB {
  background-image: url("./assets/stacks/mongoDB.png");
}

#express {
  background-image: url("./assets/stacks/express.png");
}

#react {
  background-image: url("./assets/stacks/react.png");
}

#reactnative {
  background-image: url("./assets/stacks/reactnative.png");
}

#nodeJS {
  background-image: url("./assets/stacks/nodeJS.png");
}

#tailwindcss {
  background-image: url("./assets/stacks/tailwindcss.png");
}

#framer {
  background-image: url("./assets/stacks/framer.png");
}
