
.image-container{

}

#proteronDigital {
    background-image: url('./assets/projects/proterondigital.png');
}

.tech-stacks div{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#figma {
    background-image: url('./assets/stacks/figma.png');
}
#mongoDB {
    background-image: url('./assets/stacks/mongoDB.png');
}
#express {
    background-image: url('./assets/stacks/express.png');
}
#react {
    background-image: url('./assets/stacks/react.png');
}
#nodeJS {
    background-image: url('./assets/stacks/nodeJS.png');
}
#framer {
    background-image: url('./assets/stacks/framer.png');
}

