
.tech-stacks div{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Figma{
    background-image: url('./assets/stacks/figma.png');
}
#React {
    background-image: url('./assets/stacks/react.png');
}
#Node {
    background-image: url('./assets/stacks/node.png');
}
#MongoDB {
    background-image: url('./assets/stacks/MongoDB.png');
}
#Framer {
    background-image: url('./assets/stacks/Framer.png');
}

